# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Projetcs folder
.idea/
*.iml
*.iws
/target/
/src/main/java/services/
/.settings/
/*.classpath
/*.project

